:root {
    --primary-font: 'Roboto', sans-serif;
    --primary-text-color: #434455;
    --secondary-text-color: #2e2f42;
    --body-background-color: #ffffff;
    --primary-accent-color: #fd9222;
    --secondary-accent-color: #fcf1e0;
    --section-bg-color: #f4f4fd;
}
h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
    margin-bottom: 0;
}
a {
    text-decoration: none;
    color: inherit;
    }

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    list-style-type: none;
    }
button {cursor: pointer;}
img {display: block;}
address {font-style: normal;}

body {
font-family: var(--primary-font); 
color: var(--primary-text-color);
background-color: var(--body-background-color);
}

main {flex-grow: 1;}

.visually-hidden {
position: absolute;
height: 1px;
margin: -1px;
border: 0;
padding: 0;
width: 1px;

white-space: nowrap;
clip-path: inset(100%);
clip: rect(0 0 0 0);
overflow: hidden;
}
.section-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;       
}
.container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;}

.accent-color {color: var(--primary-accent-color);}

               /* ========HEADER=========== */
.page-header {
margin: 0 auto;
max-width: 1440px;
background-color: #ffffff;
border-bottom: 1px solid #e7e9fc;
}
.page-header .container {display: flex;}
.page-nav {
display: flex;
align-items: center;
width: 452px;
}
/*===============================ЛОГОТИП=============== */
.logo-link {
    display: flex;
    padding-top: 24px;
    padding-bottom: 24px;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    margin-right: 76px;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    color: #4d5ae5;
} 
    .logo-link .highlight {color: #2e2f42;}
    .logo-link .highlight:hover {color: #404bbf;}

/*==============================PAGE-MENU===============*/

.page-menu {
    display: flex;
    width: 261px;
    column-gap: 24px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
    }
.page-menu:last-child {margin-right: 0px;}
                
.page-menu-item {
color: var(--secondary-text-color);
padding: 24px 0 24px;
margin-right: 40px;
}
.page-menu-item:last-child {
    margin-right: 0;
}
.page-menu-link {
    padding-top: 24px;
    padding-bottom: 24px;
}
.page-menu-link:hover,
.page-menu-link:focus {color: var(--primary-accent-color);}

.address-list {
    display:flex;
    gap: 40px;
    margin: 24px 0px 24px 232px;
}      
.address-link {color: var(--primary-text-color);}
.address-link:hover,
.address-link:focus {color: var(--primary-accent-color);}

/*=============================HERO=====================*/
.hero-section 
{
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    background-color: #2e2f42;
    margin-bottom: 120px;
    padding-top: 188px;
        padding-bottom: 188px;
    color: #ffffff;
}
.hero-section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #2e2f42;
}
.main-title {
    max-width: 496px;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    margin-bottom: 48px;
} 
/* Кнопка */
.button:hover, 
.button:focus {color:var(--primary-accent-color)}

.button 
{
    min-width: 169px;
    padding: 16px 32px;
    font-weight: 500;
    background-color: #4d5ae5;
    border: none;
    border-radius: 4px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
}

/* =====================SECTION PHILOSOPHY ==============*/
.strategy-section {
    width: 1128px;
    background-color: #FFFFFF;
    margin-bottom: 120px;
    padding: 120px 0;
    color: var(--secondary-text-color);
    margin-left: auto;
    margin-right: auto;}

.strategy-list {
    display:flex;
    padding: 0;
    align-items: center;
    gap: 24px;
        }

.strategy-list-item {
    gap: 24px;
    width: calc((100% - 72px) / 4);
}
.strategy-list-title {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em ;
                    }
.strategy-list-text {
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--primary-text-color);
        text-align: left;}

/*========================TEAM SECTION===================*/

.team-section {
    margin-left: auto;
    margin-right: auto;
    max-width: 1440px;
    padding: 120px 0;
    background-color:var(--section-bg-color);}

.team-section .container {
display: flex;
flex-direction: column;
width: 1440px;
background-color: var(--section-bg-color)}

.ul_section_team {  
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 24px;
            }
.name-vacation {padding: 32px 0; }
.cards { background-color: #FFFFFF; 
    height: 380px;
    width: 264px;
    border-radius: 0px 0px 4px 4px;}
.paragraf_ {text-align: center;}
.team-title {
    margin-bottom: 72px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 72px;
    padding-top: 120px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    color: var(--secondary-text-color);
    letter-spacing: 0.02em;
    text-transform: capitalize;
}
.people-name {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color:var(--secondary-text-color);
        text-align: center;
        margin-bottom: 8px; }

/* =======================SECTION PORTFOLIO=============*/
.portfolio {
    max-width: 1400px;
    padding-top: 120px;
    padding-bottom: 120px;
    margin: 0 auto;
    background-color: var(--body-background-color);
}
.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    row-gap: 48px;
    margin: 0;
    padding: 0;
    
    background-color: var(--body-background-color);}

.portfolio-list li:nth-last-child(-n+3) {
    margin-bottom: 0;
}
.portfolio-list li {
width: 360px;
margin-right: 24px;
margin-bottom: 24px;}
.portfolio-list li:nth-child(3n) {
margin-right: 0;}

.portfolio-list-item {
    width: calc((100% - 48px) / 3);}

.name-of-item {
    display: flex;
    padding: 32px 16px;
    flex-direction: column;
    text-align: start;
    border: 1px solid #e7e9fc;
    border-top: none;
    padding-bottom: 32px;}
.portfolio-title {
    margin: 0 auto;
    margin-bottom: 72px;
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    color: #2e2f42;
    letter-spacing: 0.02em;
    text-transform: capitalize;}
.portfolio-subtitle {margin-bottom: 8px;} 


/* =======================FOOTER=======================*/

.page-footer {
background-color: #2e2f42;
max-width: 1440px;
margin: auto;
padding: 100px 0;
}

.page-footer .container 
{background-color: #2e2f42;}

.logo_linkblue {
display: inline-block;
margin-bottom: 16px;
font-family: "Raleway", sans-serif;
font-weight: 700;
line-height: 1.17;
color: #4d5ae5;
letter-spacing: 0.03em;
text-transform: uppercase;
text-decoration: none;
font-size: 18px;
}

.footertext {
    display: block;
    max-width: 264px;
    color: #ffffff;
    background-color: #2e2f42;
    margin-right: auto;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding-bottom: 100px;
    padding-top: 17.5px;
}

a.logo_linkblue {
    text-decoration: none;
}
.white {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    color: #F4F4FD;
    letter-spacing: 0.03em;
    text-transform: uppercase;}

.no-hover {color: inherit; }
.white:hover {
    color: #404bbf;}
